DATABASE_URL="postgres://postgres:postgres@localhost:5432/raidguild_forge"
SENDGRID_API_KEY=""
SENDGRID_FROM_EMAIL="no-reply@raidguild.org"
SENDGRID_FROM_NAME="RaidGuild Forge"
SITE_URL="http://localhost:3000"
